<div class="search-form">
    <%= form_with url: root_path, method: :get do |f| %>
        <h2>Search for flights</h2>

        <div>
            <%= f.label :departure_airport_id, "Origin" %>
            <%= f.select(:departure_airport, @airport_options) %>
        </div>

        <div>
            <%= f.label :arrival_airport_id, "Destination" %>
            <%= f.select(:arrival_airport, @airport_options) %>
        </div>

        <div>
            <%= f.label :date, "Departure date" %>
            <%= f.select(:departure_date, @available_departure_dates) %>
        </div>
        
        <div>
            <%= f.label :passenger_count %>
            <%= f.number_field :passenger_count, {within: 1..4, value:1} %>
        </div>
        <%= f.submit "Search" %>
    <% end %>
</div>

<div class="search-results">
    <h2>Search results</h2>
    <% if @chosen_flights.empty? %>
        <p>No flights found.</p>
    <% else %>
        <%= form_with url: new_booking_path, method: :get do |f| %>
            <%= hidden_field_tag :passenger_count, params[:passenger_count] %>
            <% @chosen_flights.each do |flight| %>
                <div class="flight-option">
                    <%= render partial: 'application/flight_information', locals: {flight: flight} %>
                    <%= f.radio_button :flight_id, flight.id %>
                </div>
            <% end %>

            <%= f.submit "Book chosen flight" %>        
        <% end %>
    <% end %>
</div>

